.row-form{
    display: block;
     border-radius:20px;
}
.Main{
border: 2px solid black;
margin-top:5%;
width: 50%;
padding: 15px;
margin-left:25%;
border-radius:20px;
}
.row-col{
    margin: 0 2% 1% 0;
    display: inline-block;
    border-radius:20px;
}

